# Logs
logs
*.log
npm-debug.log*

# Dependencies
**/node_modules/
**/dist/
**/dist-ssr/

# Environment Variables
**/.env
**/.env.local

# Editor local files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
/backend/serviceAccountKey.json
